apiVersion: apps/v1
kind: Deployment
metadata:
  name: contour-operator
  namespace: system
  labels:
    control-plane: contour-operator
spec:
  selector:
    matchLabels:
      control-plane: contour-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: contour-operator
    spec:
      containers:
      - command:
        - /contour-operator
        args:
        - --enable-leader-election
        image: docker.io/projectcontour/contour-operator:main
        imagePullPolicy: Always
        name: contour-operator
        resources:
          requests:
            cpu: 100m
            memory: 70Mi
      terminationGracePeriodSeconds: 10
