apiVersion: apps/v1
kind: Deployment
metadata:
  name: contour-operator
  namespace: system
  labels:
    control-plane: contour-operator
spec:
  selector:
    matchLabels:
      control-plane: contour-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: contour-operator
    spec:
      containers:
      - command:
        - /contour-operator
        - --contour-image
        - docker.io/projectcontour/contour:v1.12.0
        - --envoy-image
        - docker.io/envoyproxy/envoy:v1.17.0
        args:
        - --enable-leader-election
        image: contour-operator
        imagePullPolicy: IfNotPresent
        name: contour-operator
        resources:
          requests:
            cpu: 100m
            memory: 70Mi
      terminationGracePeriodSeconds: 10
